*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

button{
	background-color: #E41D22 !important;

	border: 1px solid #fff !important;
}

button a{
		color: #fff !important;
}

html{
	font-family: "Mukta", sans-serif;
	font-size: 16px;
}

main{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titulo{
	margin-bottom: 2vh;
}

.titulo h1{
	letter-spacing: 3px;
}

.imgconteiner{
	width: 80vw;
}

.imgconteiner img{
	width: 100%;
}

div p{
	margin-top: 3vh;
}

.linksConteiner{
	margin-top: 2vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.link{
	width: 90px;
}

.link img{
	width: 100%;
}

#yt{
	margin-top:4px ;
}

.Fv{
	color: #fff;
	background: rgb(43,5,64);
	background: radial-gradient(circle, rgba(43,5,64,1) 60%, rgba(0,0,0,1) 95%);
}

.Fb{
	background: #fff;
	color: #3D3D3D;
}

.shadow{
	box-shadow: 8px 11px 18px -4px rgba(0,0,0,0.59);
}

.border{
	border: 5px solid #fff;
}